<nav class="navbar navbar-default navbar-static-top" >
  <div class="conteiner">
    <div class="navbar-header">
      <strong class="navbar-brand">My Pomadoro Timer</strong>
    </div>
  </div>
</nav>
<app-timer></app-timer>

<div class="container text-center">
<img src="../../assets/img/pomodoro.jpg" />
<app-countdown [seconds] ="25"
  (progress)="timeout = $event"
  (complete)="onContdownCompleted()" 
  #counter>
</app-countdown>
<p>
  <button
    class="btn btn-default"
    (click)="counter.seconds = 25">
    Reset countdown to 25 seconds
  </button>
</p>

<p *ngIf="counter.seconds < 10" >
  Beware! Only
  <strong>{{counter.seconds}} seconds</strong>
  left.
</p>
</div>


